<div class="heading">
<h2>Pick your poison!</h2>
</div>

<div class="container">
<% @cocktails.each do |cocktail| %>
  <div class="card-cocktail gallery">
    <div class="img-cocktail">
      <%= cl_image_tag castle.photo.key, crop: :fill if castle.photos.attached? %>
    <h3><%= link_to cocktail.name, cocktail_path(cocktail.id) %></h3>
  </div>
<% end %>
</div>


