.container-about {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  img {
    width: 400px;
    height: 400px;
  }
}

.about-karen {
  width: 298px;
}

.about-olivia {
  width: 305px;
  margin-left: 24px;
  a {
    color: #5E4AE3;
  }
}

.text-about {
  color: black;
  text-align: left;
  h3 {
    font-size: 24px;
    font-family: 'Rammetto One', cursive;
  }
  p {
    font-size: 14px;
    margin: 0 auto 0 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
  }
}

@media only screen and (max-width: 1175px) {
  .container-about {
    flex-direction: column;
    img {
      margin: 0 auto;
    }
  }
  .card-about {
    width: 710px;
    margin: 50px auto;
  }
}

@media only screen and (max-width: 785px) {
  .container-about {
    margin-top: 0;
  }
  .card-about {
    width: 90vw;
    height: auto;
  }
}

@media only screen and (max-width: 650px) {
  .card-about {
    flex-direction: column;
    width: 380px;
    margin-bottom: 80px;
  }
  .about-olivia {
    margin-left: 0;
    margin-top: 24px;
  }
}
