.container-cocktails {
  width: 85vw;
  display: flex;
  justify-content: center;
  margin: 24px auto 50px;
  flex-wrap: wrap;
  overflow: scroll;
  h3 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 24px;
  }
}

.heading {
  margin-top: 20px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 30px;
  font-weight: 700;
}
