.container-cocktails {
  width: 84vw;
  display: flex;
  margin: 40px auto 50px;
  flex-wrap: wrap;
  overflow: scroll;
  justify-content: center;
}

@media only screen and (max-width: 620px) {
  .container-cocktails {
    margin-top: 0;
  }
}
