.container-mix {
  display: flex;
  justify-content: center;
  // background: white;
  width: 90vw;
  // height: 70vh;
  margin: 40px auto auto;
  color: black;
  // padding: 32px;
  border-radius: 4px;
  h3 {
    font-size: 28px;
    font-family: 'Quicksand', sans-serif;
  }
}

.container-form {
  margin-top: 16px;
  width: 300px;
  line-height: 16px;
  label {
    font-size: 16px;
  }
  input {
    font-size: 20px;
  }
}

#cocktail_photo {
  font-size: 16px;
}

@media only screen and (max-width: 1200px) {
  .container-mix {
    margin-top: 0;
    margin-bottom: 80px;
  }
}

@media only screen and (max-width: 960px) {
  .container-mix {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 80px;
  }
  .card-mix {
    margin: 0 auto;
  }
  .card-mix-left {
    margin-bottom: 48px;
  }
}

@media only screen and (max-width: 450px) {
  .card-mix {
    width: 90vw;
    .form-control {
      width: 70vw;
    }
  }
}
