.container-mix {
  display: flex;
  justify-content: center;
  // background: white;
  width: 75vw;
  // height: 70vh;
  margin: 40px auto auto;
  color: black;
  // padding: 32px;
  border-radius: 4px;
  h3 {
    font-size: 28px;
    font-family: 'Quicksand', sans-serif;
  }
}

.container-form {
  margin-top: 16px;
  width: 300px;
  line-height: 16px;
  label {
    font-size: 16px;
  }
  input {
    font-size: 20px;
  }
}

.img-pantry {
  height: 180px;
  width: 425px;
  object-fit: cover;
}

#cocktail_photo {
  font-size: 16px;
}

@media only screen and (max-width: 940px) {
  .container-mix {
    flex-direction: column;
  }
}
