.container-ingredients {
  background-color: rgba(255, 255, 255, 0.75);
  color: black;
  height: 400px;
  width: 300px;
  margin-left: 100px;
  margin-top: 105px;
  padding: 24px;
  border-radius: 10px;
  p {
    font-family: 'Raleway', sans-serif;
    font-sixe: 24px;
  }
}

.ingredient-contents {
  display: flex;
  justify-content: space-between;
}

.container-show {
  display: flex;
  justify-content: center;
  img {
    border-radius: 8px;
  }
}

.links {
  align-self: flex-end;
}
