<%= content_for :meta_description, "About" %>

<div class="container-about">
  <%= image_tag("mixologist-and-developer.png", :alt => "rss feed", class:"img-about") %>
  <div class="card-about">
    <div class="text-about about-karen">
      <h3>Karen Zorn</h3>
      <p>The world knows Karen as a cool school president, a hilarious friend,
        savior of the name Karen, and of course - a cocktail queen. Everytime
        someone drinks one of her cocktails, they are blessed with
        22 days of flawless hair and lucky parking spots. At last - thanks to this website,
        now you can try your own hand at her famous elixirs!</p>
    </div>
    <div class="text-about about-olivia">
      <h3>Olivia Zorn</h3>
      <p>Olivia is Karen's favorite daughter and the web-wizard who made this website.
        She also makes fruit concoctions in the form of <a href="http://livzorn.com/">photographs!</a> She's all grown
        up now, but as you can see, her uncanny childhood resemblance to Shirley Temple
        supports the theory that she is Karen's greatest cocktail to date.</p>
    </div>
  </div>
</div>



