<div class="container-cocktails">
  <% @cocktails.each do |cocktail| %>
    <%= link_to cocktail_path(cocktail.id) do %>
      <div class="card-cocktail gallery">
        <div class="img-cocktail">
           <%= cl_image_tag cocktail.photo.key, crop: :fill if cocktail.photo.attached? %>
        </div>
        <div class="cocktail-name">
          <h3><%= cocktail.name %></h3>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
