<div class="heading">
<h2>Pick your poison!</h2>
</div>

<div class="container">
<% @cocktails.each do |cocktail| %>
  <div class="card-cocktail gallery">
    <div class="img-cocktail">
       <%= cl_image_tag cocktail.photo.key, crop: :fill if cocktail.photo.attached? %>
    </div>
    <h3><%= link_to cocktail.name, cocktail_path(cocktail.id) %></h3>
  </div>
<% end %>
</div>
