.btn-add {
  position: absolute;
  bottom: 20px;
  right: 24px;
  font-size: 20px;
}

.btn-back {
  position: absolute;
  bottom: 16px;
  left: 24px;
  font-size: 20px;
}

.btn-remove {
  font-size: 14px;
}
