.card-cocktail {
  padding: 16px;
  border-radius: 10px;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 16px;
  height: 350px;
  img {
    height: 275px;
    width: 218px;
    object-fit: cover;
    border-radius: 4px;
  }
  h3 {
    margin-top: 11px;
  }
}

.card-cocktail { transition: all .2s ease-in-out; }
.card-cocktail:hover { transform: scale(1.05); }

.card-about {
  width: 500px;
  height: 400px;
  border-radius: 4px;
  background-color: rgba(255,255,255,0.8);
  margin-top: 50px;
}
