.card-cocktail {
  background: linear-gradient(360deg, #FFFFFF 4.12%, rgba(255, 255, 255, 0.425426) 19.71%, rgba(255, 255, 255, 0.130143) 29.13%, rgba(255, 255, 255, 0) 36.73%);
  padding-bottom: 16px;
  border-radius: 4px;
  // border-bottom-left-radius: 40px;
  // border-bottom-right-radius: 40px;
  width: 250px;
  background-color: rgba(255, 255, 255, 1);
  color: black;
  margin: 24px;
  height: 400px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  font-family: 'Rammetto One', cursive;
  position: relative;
  img {
    height: 400px;
    width: 250px;
    object-fit: cover;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  h3 {
    font-family: 'Rammetto One', cursive;
    margin-top: 16px;
    position: absolute;
    top: 16px;
    left: 24px;
    padding: 8px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.9);
    width: 80%;
    // text-shadow: 1px 1px 2px rgba(0,0,0,0.7)
    // background-color: white;
    // padding: 12px;
  }
}

.card-cocktail { transition: all .2s ease-in-out; }
.card-cocktail:hover { transform: scale(1.05); }

.card-about {
  height: 310px;
  margin-top: 40px;
  margin-left: 50px;
  display: flex;
  justify-content: center;
  padding: 36px;
  background-color: rgba(255,255,255,0.9);
}

.card-mix {
  width: 30vw;
  background: white;
  padding-bottom: 32px;
  border-radius: 4px;
  position: relative;
}
