.card-cocktail {
  padding: 16px;
  border-radius: 10px;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 16px;
  height: 350px;
  img {
    height: 275px;
    width: 218px;
    object-fit: cover;
    border-radius: 4px;
  }
  h3 {
    margin-top: 11px;
  }
}

.card-cocktail { transition: all .2s ease-in-out; }
.card-cocktail:hover { transform: scale(1.05); }

.card-about {
  // background-color: rgba(0,0,0,0.6);
  color: black;
  // color: white;
  text-align: left;
  h3 {
    font-size: 24px;
    // font-family: 'Abril Fatface', cursive;
    font-family: 'Rammetto One', cursive;
  }
  p {
    font-size: 14px;
    margin-left: 16px;
    margin-right: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-bottom: 0;
    // text-shadow: 1px 1px 1px #111111;
  }
}
