.container-form {
  width: 500px;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  font-weight: 600px;
  font-size: 24px;
  color: black;
  // text-shadow: 1px 1px black;
  a {
    color: black;
  }
}

.container-devise {
  width: 400px;
  background-color: rgba(255,255,255,0.9);
  border-radius: 4px;
  font-family: 'Quicksand', sans-serif;
  color: black;
  margin: 50px auto;
  padding: 24px;
  p {
    font-family: 'Quicksand', sans-serif;
  }
}

.form-inputs {
  text-align: left;
}
