.form-modal {
  width: 400px;
  margin: 0 auto;
  color: black;
  h5 {
    color: black;
  }
}

#exampleModalLongTitle {
  color: black;
  text-align: center;
  margin-left: 32%;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 700;
}

h3.modal-title {
  color: black;
}

#exampleModalLongTitle2 {
  color: black;
  text-align: center;
  margin-left: 16%;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 700;
}
