.navbar {
  justify-content: space-between;
  padding: 16px 32px;
  a {

  }
}

.nav-content {
  display: flex;
  width: 300px;
  justify-content: space-between;
  margin-right: 20px;
}

a.nav-link {
  color: white;
  font-size: 24px;
  font-weight: 550;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.admin-link {
  margin-right: 40px;
}
