.navbar {
  justify-content: space-between;
  padding: 16px 32px;
  a {
    font-family: 'Montserrat Alternates', sans-serif;
  }
}

.nav-content {
  display: flex;
}

a.nav-link {
  color: white;
  font-size: 24px;
  font-weight: 550;
  margin-right: 24px;
  &:hover {
    color: rgba(255,255,255,0.6);
  }
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.dropdown-menu a {
  font-family: 'Rammetto One', cursive;
  font-size: 18px;
}

@media only screen and (max-width: 594px) {
  a.nav-link {
    font-size: 18px;
    margin-right: 16px;
  }
}

@media only screen and (max-width: 450px) {
  a.nav-link {
    font-size: 14px;
    margin-right: 10px;
  }
}
