.navbar {
  justify-content: space-between;
  padding: 16px 32px;
  a {
    color: white;
    font-size: 24px;
    font-weight: 550;
  }
}

.nav-links {
  display: flex;
  width: 250px;
  justify-content: space-between;
  margin-right: 40px;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}
