// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  color: white;
  text-align: center;

  // background-image: url(https://images.unsplash.com/photo-1567671823828-4272a32ef644?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1146&q=80);
  // background-image: url(https://images.unsplash.com/photo-1531002423613-b7d0e005770b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
  // background-image: url(https://images.unsplash.com/photo-1497990902153-c6d041aad676?ixlib=rb-1.2.1&auto=format&fit=crop&w=1614&q=80);
  // background-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.0) 100%), url(https://images.unsplash.com/photo-1585621386284-99ba80a164fd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);
  // background-image: url(https://images.unsplash.com/photo-1563556812243-f444d076caf6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80);
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://images.unsplash.com/photo-1562860352-76f581e6392d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1655&q=80);
  // background-image: url(https://images.unsplash.com/photo-1562860352-76f581e6392d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1655&q=80);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  color: black;
  font-family: 'Raleway', sans-serif;
}

a:hover {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: 'Rammetto One', cursive;
  font-size: 50px;
}

h2 {
  font-family: 'Rammetto One', cursive;
  font-size: 30px;
  font-weight: lighter;
  text-shadow: 2px 2px black;
}
